<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Timetable</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher_timetable.css') }}">
</head>
<body>
  <div class="timetable-wrapper">

    <div class="top-bar">
      <div class="info-box top-name">Timetable for {{ teacher_name }}</div>

      <div class="info-box top-date">
        <form method="GET">
          <select name="day" onchange="this.form.submit()">
            {% for d in days %}
              <option value="{{ d }}" {% if request.args.get('day') == d %}selected{% endif %}>{{ d }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>

    <div class="timetable-container">
      <div class="timeline">
        {% set selected_day = request.args.get('day', days[0]) %}
        {% for timeslot in timeslots %}
          <div class="slot">
            <div class="time">{{ timeslot }}</div>
              <div class="bar">
                {% if timeslot == '11:00 - 12:00' %}
                  Break
                {% elif timetable[selected_day] and timetable[selected_day].get(timeslot) %}
                  {{ timetable[selected_day][timeslot]['class'] }} - {{ timetable[selected_day][timeslot]['subject'] }}
                {% else %}
                  Free Slot
                {% endif %}
              </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</body>
</html>